<!-- forgot_password.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
  <!-- Add additional styles specific to forgot_password.html if needed -->
{% endblock %}

{% block content %}
<div class="signup-container">
  <div class="signup-image">
    <img src="{% static 'img/logo-color.png' %}" alt="Image">
  </div>
  <div class="signup-form">
    <h2>Forgot Password</h2>
    <form autocomplete="off" method="post" action="/userauth/forgot-password/">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <button type="submit">Send Reset Link</button>
    </form>
    <div class="existing-user">
      Remember your password? <a href="/userauth/login">Log In</a>
    </div>
  </div>
</div>
{% endblock %}
